<%- include("partials/header") %>

<%- include("partials/middler") %>

<form action="/items/1" method="GET">
    <input type="hidden" name="filterBy" value="warehouse_id" />

    <select name="filterValue">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
    </select>

    <button>OK</button>
</form>

<%- include("partials/footer") %>
