<%- include("partials/header") %>

<%- include("partials/middler") %>

<h1>Index</h1>

<a href="/items/1">Sorted by timestamp</a>
<a href="/items/1?sortBy=warehouse_id&direction=ASC">Sorted by WarehouseID</a>
<a href="/items/1?sortBy=sku&direction=ASC">Sorted by SKU</a>
<a href="/bin">By warehouse</a>

<%- include("partials/footer") %>
