<html>
    <head>
        <title>Inventory</title>
    </head>
    <body>
        <% for (const keyboard of keyboards) { %>
            <p>Product: <%= keyboard.keyboardname %></p>
            <p>ID: <%= keyboard.keyboardid %></p>
        <% } %>
    </body>
</html>
