<%- include("partials/header") %>

<%- include("partials/middler") %>

<h1>Index</h1>

<p><a href="/items/1">жЊ‰ж·»еЉ йЎєеєЏжЋ’еєЏ</a></p>
<p><a href="/items/1?sortBy=warehouse_id&direction=ASC">жЊ‰еєЏеЏ·жЋ’еєЏ</a></p>
<p><a href="/items/1?sortBy=sku&direction=ASC">жЊ‰SKUжЋ’еєЏ</a></p>
</p><a href="/bin">жЊ‰warehouse</a></p>

<%- include("partials/footer") %>
