<html>
    <head>
        <title>Manufacturers</title>
    </head>
    <body>
        <h1>Manufacturer List</h1>
        <% for (const manufacturer of manufacturers) { %>
            <p><%= manufacturer.manufacturername %></p>
        <% } %>
    </body>
</html>
