<html>
    <head>
        <title>New Condition</title>
    </head>
    <body>
        <h1>New Condition</h1>
        <form method="POST" action="/api/newCondition">
            <label>Condition:</label>
            <input name="condition" type="text" />
            <br />
            <button>Submit</button>
        </form>
    </body>
</html>
