<html>
    <head>
        <title>New Manufacturer</title>
    </head>
    <body>
        <h1>New Manufacturer</h1>
        <form method="POST" action="/newmanufacturer">
            <label>Manufacturer Name:</label>
            <input name="manufacturername" type="text" />
            <br />
            <button>Submit</button>
        </form>
    </body>
</html>
